[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2 = "*"
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
start = "uvicorn app.main:app --reload --port 8080 --host 0.0.0.0"
test = "python -m pytest app/tests"
